/* ============= variables */
@red: RGB(191,69,36);
@lightblue: RGB(0, 166, 233);
@darkerblue: RGB(0, 125, 197);
@orange:rgb(242, 101, 34);
@green:RGB(109, 176, 51);
@gold:RGB(235, 188, 34);
@purple:RGB(90, 16, 122);
@yellow:RGB(250,196,119);
@darkergreen:RGB(0, 153, 62)


body {
  padding-top: 70px;
}
#quiz {
  width:500px;
  height:500px;
  border:1px solid aqua;
  padding: 300px 50px 50px 50px;
  display:block;
  margin:0 auto;
}

.color0 { /* purple */
  background-color:#636192;
}

.color1 { /* pink */
  background-color:pink;
}

.color2  { /* blue */
  background-color:lighten(#6CF3FB, 20%);
}

.color3  { /* gold */
 background-color:#FED866;
}

.btn-red {
  background-color:#B7412A;
  font-size:1em;
  font-weight:200;
  padding:15px;
  color:#fac477;
  transition: 0.3s;
  display:block;
  margin:0 auto;
  &:hover {
    color:darken(@yellow, 20%);
  }
}

.btn-white {
  font-size:1em;
  font-weight:200;
  border:1px solid @yellow;
  padding:15px;
  color:#fac477;
  transition: 0.3s;
  display:block;
  margin:0 auto;
  &:hover {
    color:darken(@yellow, 20%);
  }
}

.btn-choice {
    border-radius: 10px;
    border: 1px solid @yellow;
    width:20%;
    margin-left:10%;
    margin-top:25px;

}

.yellow {
  color:#fac477;
}

ul#quiz {
  list-style-type:none;
  padding-left:0;
  font-weight:200;
  font-size:1.8em;
  color:lighten(#333333, 20%);

  .background{
    width:1140px;
    height:622px;
    background-repeat:no-repeat;
  }
  li{
    &:nth-child(1){
      background-image:url('../img/game-intro.jpg');
      background-repeat:no-repeat;
    }
     &:nth-child(2){
      background-image:url('../img/game-card1.jpg');
      background-repeat:no-repeat;
    }
     &:nth-child(3){
      background-image:url('../img/game-card1a.jpg');
      background-repeat:no-repeat;
    }
     &:nth-child(4){
      background-image:url('../img/game-card2.jpg');
      background-repeat:no-repeat;
    }
     &:nth-child(5){
      background-image:url('../img/game-card2a.jpg');
      background-repeat:no-repeat;
    }
     &:nth-child(6){
      background-image:url('../img/game-card-wrong.jpg');
      background-repeat:no-repeat;
    }
  }
}

div.card {
padding-top:450px;
  .choices {
    background-image:url(../img/filler.png);
    background-repeat:repeat;
    height:172px;
    padding:40px;

  }
}