body {
  padding-top: 70px;
}

.btn-red {
  background-color:#B7412A;
  font-size:2em;
  font-weight:200;
  padding:15px;
  color:#fac477;
}

.yellow {
  color:#fac477;
}

div.card {
  width:1140px;
  height:620px;
  
}