body {
font-size:13px;
}



//variables
$white: #fff;
$lightgray:  #EBEBEB;
$medgray: #ADADAD;
$darkgray: #6B6B6B;
$vdarkgray: #333;
$orange: #FFA500;

.orange {color:$orange}
.white { color: $white; }


.navbar-default {
  background-color:rgba(55, 55, 55, .8);
   .navbar-nav>li>a {
   color:#000;
   &:hover {
    color:$lightgray;
   }
  }
  a.navbar-brand {
    padding-top:10px;
    img {
      opacity: 0.5;
      filter: alpha(opacity=50);
      width:70px;
    }
  }
}


.navbar-fixed-top {
	border:none;
}


.introtext {
  margin:3vw;
}


.cover {
	 background: url('../img/cover/E-Washington-Night-2019-10-29-0025-pr115rev3.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 

}

.gnomerow {
	background-image: url('../img/footer_lodyas.png');
	height:600px;

}

.gnomes{
		/*starting positions*/
	opacity:0;
	transform: translateY(150px);
	transition: all 1s ease-out;
}

.gnomes.fade-in{
	opacity:1;
	transform:translateY(5px);
}


.looprow>img{
	transform: translateX(0);
	transition: all 1s ease-out;
}

.looprow.scoot>img {
	transform:translateX(100%);

}


.symphony .col-sm-12 img {
	display:block;
	margin:100px auto;
}

.pink {
	height:450px;
	background-color:pink;
	}


.pink	h1 {
  font-size: 5.9vw;
  z-index: 10;
}
.pink h2 {
  font-size: 3.0vw;
}

.pink h3 {
  font-size: 2.0vw;
}

.pink p {
  font-size: 1vw;
}

.looprow {
	padding:30px 50px;
}

.bcg-parallax {
	padding: 140px 0;
	color:#fff;
	background-color:#000;
	text-align:center;
	position:relative;
	overflow:hidden;
	}

.bcg {
	background: url('../img/starry2.jpg') no-repeat;
	background-size: cover;
	position: absolute;
	width:100%;
	height:240%;//set the starting offset to the same size as the height of the element
	top:0;
	z-index:1;
	opacity:.7;
}
.content-wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1140px;
	position:relative;
	z-index: 2;
}












