
@import 'animations.scss';
@import 'margins.scss';


//variables
$white: #fff;
$lightgray:  #EBEBEB;
$medgray: #ADADAD;
$darkgray: #6B6B6B;
$vdarkgray: #333;
$orange: #FFA500;
$orange2:#F58456;
$yellowgreen: #dee21e;
$green:rgb(0,111,81);
$melon: #e66567;
$paleblue: #66cbe1;

.orange {color:$orange}
.orange2 {color:$orange2}
.white { color: $white;}
.yellowgreen {color:$yellowgreen;}
.green {color:$green;}
.melon {color:$melon;}
.paleblue {color:$paleblue;}
.bkggreen {background-color:$green;}
.bkgmelon {background-color:$melon;}

body {
  font-size:16px;
  font-weight:300;
  color:$darkgray;
  line-height:1.55;
}

.body-large {
  font-size:1.5em;
}
.navbar-default {
  background-color:rgba(2, 2, 2, .7);
  .navbar-nav>.open>a {
    background-color:transparent;
    color:$white;
    &:hover {
      color:$white;
      background-color:transparent;
    }
  }
   .navbar-nav>li>a {
   color:#ebebeb;
   &:hover {
    color:$white;
   }
   &:focus {
    color:#ebebeb;
   }
  }
  a.navbar-brand {
    padding-top:10px;
    img {
      opacity: 0.7;

      filter: alpha(opacity=50);
      width:70px;
       &:hover {
        opacity:1;
       filter: alpha(opacity=100);
      }
    }
  }
}


.navbar-fixed-top {
	border:none;
}


#return-to-top {
    background:url('../img/global/round-up.png');
    background-repeat:no-repeat;
    background-position: center center;
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display:none;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.sustain {
     background: url('../img/spread/K&L-17-rev.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  height:800px;

}

.sustainability {
    .subtitle {
      color:$melon;
    }
    h2 {
      color:$melon;
      @extend .mbottom30;
    }

    .pullquote {
      @extend .mtop30;
      @extend .mbottom30;
    }
    .textcol {
      font-size:20px;
      border-left:2px solid $melon;
      color:$melon;
      @extend .mleft20;
  }

}

#actualLetter {
  .subtitle {
      color:$orange2;
    }
    h2 {
      color:$orange2;
      @extend .mbottom30;
      @extend .mtop50;
    }

    .pullquote {
      @extend .mtop30;
      @extend .mbottom30;
    }
    .textcol {
      font-size:20px;
      border-left:2px solid $orange2;
      color:$orange2;
      @extend .mleft20;
  }

}

figcaption {
    background: url('../img/global/trans-gray.png');
    color: white;
    max-width: 400px;
    font-size: .8em;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
}



div.sustain-title {
  h1 {
    font-size:3vw;
    color:$melon;
    font-weight:400;
  }
  h3 {
    font-size:2vw;
    color:$paleblue;
     font-weight:400;

    }

       hr {
    opacity:.5;
  }
  }
.sustain-intro {
  color:$vdarkgray;
  margin-top:50px;
  padding: 20px 50px;

  h3 {margin-top:0;}

}
.watch-button {
  display:block;
  background: url('../img/global/trans-gray.png');
  margin:110px auto 50px;
  background-repeat:repeat;
  color:$orange2;
  &:hover {
    opacity:1;
    color:$orange;
  }
  &:focus {
    color:$orange;
  }


}

.box-link {
  color:maroon;
  text-decoration:underline;
  &:hover {
    color: darken( maroon, 10% )}
}

.letter {
  p {
    font-size:18px;
  }
  h2{
    color:$orange2;
  }
}
.letter-box{
  background-color: $orange2;
  color: #000;
  margin-bottom:50px;
  padding: 20px 50px;
}

.subtitle {
  color: $orange2;
  text-decoration:underline;
}
#canvas-container {
  position:relative;
height:400px;
}

.introtext {
  margin-left:3vw;
  margin-right:3vw;
  margin-top:12vw;
  hr {
  	opacity:.5;
  }
  h1 {
  	font-size:5vw;
  	color:$orange;
  	line-height:.8;
	}
  h2 {
  	font-size:2.5vw;
  	color:$white;
  	font-weight:400;
    margin-top:10px;
  }
  h3 {
  	color:$white;
  	font-weight:400;
  }
	opacity:0;
}

.presidentText{
  margin-left:3vw;
  margin-right:3vw;
  margin-top:110px;

  hr {
    opacity:.5;
  }
  h1 {
    font-size:3vw;
    color:#F58456;
  }
  h2 {
    font-size:2vw;
    color:#54A8D8;
    font-weight:400;
    margin-top:10px;
  }
  h3 {
    color:$white;
    font-weight:400;
  }
}

.presidentThumbs img {
  border:2px solid $orange2;
}

.fancybox-caption__body {
    max-width: 600px;
    margin: 0 auto;
    }

.introtwo {

  margin-left:3vw;
  margin-right:3vw;
  margin-top:5vw;
  margin-bottom:0;
  
  hr {
  	opacity:.5;
  }
  h1 {
  	font-size:72px;
  	color:$orange;
	}
  h2 {
  	font-size:36px;
  	color:$white;
  	font-weight:400;
  }
  h3 {
  	color:$yellowgreen;
  	font-weight:400;
  }
	opacity:0;

}


.cover {
	 background: url('../img/cover/E-Washington-Night-2019-10-29-0025-pr115rev3.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
 

}


/* At-a-glance section 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// */
 


.panel-title>a:hover, .panel-title>a:active, .panel-title>a:focus {
  text-decoration: none;
}

#glance {
  padding:30px 0;



  h1 {
    font-size:36px;
  }
  p {
    font-size:20px;
  }
  .tables {
    padding-top:50px;
  }

  .tables {
    padding-left:40px;
    padding-right:40px;

  }

  td.right {
    text-align:right;
  }
  td:nth-child(2) {
  color:$green;
  font-weight:600;
  text-align:right;
  }
  td:nth-child(3) {
    text-align:right;
  }
   td:nth-child(4) {
    text-align:right;
  }
  td:nth-child(5){
    text-align:center;
  }
 }

tr.secborder {
  border-bottom: 2px solid $green;
}
.table>tbody>tr.notopborder>td
 {
  border-top:none;
 
}

/* Relaxing page load effects
-------------------------------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: .5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
    animation-duration: 1s;
  }
}






.president {
   background: url('../img/president/Keebler-2019-10-30-0016.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
 
}


#actualLetter {



}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -360px;
 }

.page-wrap:after {
  content: "";
  display: block;

}
.footer, .page-wrap:after {
  height: 360px;
}
.footer {
    background-color: $green;
    font-size:12px;
    color:$white;
    a {color:$white;}
 }

.right-footer {
    float:right;
}

ul.utility-menu {
  list-style-type:none;
  a { color:$white; }
}




/* ========================================= Large devices (large desktops, 1200px and up)  col-lg */
@media (min-width: 1200px) {

}

/* ========================================= Landscape tablets and medium desktops col-md */
@media (min-width: 992px) and (max-width: 1199px) {

.spread-col-2 {
  margin-top: 30px;
  margin-left:-150px;
  font-size:15px;
}

}


/* ========================================= Portrait tablets and small desktops col-sm */
@media (min-width: 768px) and (max-width: 991px) {

}



/* ========================================= Landscape phones and portrait tablets col-xs */
@media (min-width: 481px) and (max-width: 767px){



}

/* =========================================  Portrait phones and smaller */
@media (max-width: 480px) { 


}








