@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.arrow {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/global/round-down.svg");
  background-size: contain;
  position: absolute;
  bottom: 20px;
  margin-left: 49vw; }

.bounce {
  -moz-animation: bounce 1.5s 2;
  -webkit-animation: bounce 2 1.5s 2;
  animation: bounce 1.5s 2; }

.mtop0 {
  margin-top: 0; }

.mtop5 {
  margin-top: 5px; }

.mtop10 {
  margin-top: 10px; }

.mtop20 {
  margin-top: 20px; }

.mtop30, #actualLetter .pullquote {
  margin-top: 30px; }

.mtop40 {
  margin-top: 40px; }

.mtop50, #actualLetter h2 {
  margin-top: 50px; }

.mright0 {
  margin-right: 0; }

.mright10 {
  margin-right: 10px; }

.mright20 {
  margin-right: 20px; }

.mright30 {
  margin-right: 30px; }

.mright40 {
  margin-right: 40px; }

.mright50 {
  margin-right: 50px; }

.mbottom0 {
  margin-bottom: 0; }

.mbottom0 {
  margin-bottom: 5px; }

.mbottom10 {
  margin-bottom: 10px; }

.mbottom20, .presidentThumbs img {
  margin-bottom: 20px; }

.mbottom30, #connectCopy h2, #actualLetter h2, #actualLetter .pullquote {
  margin-bottom: 30px; }

.mbottom40 {
  margin-bottom: 40px; }

.mbottom50 {
  margin-bottom: 50px; }

.mleft0 {
  margin-left: 0; }

.mleft10 {
  margin-left: 10px; }

.mleft20, #connectCopy .textcol, #actualLetter .textcol {
  margin-left: 20px; }

.mleft30 {
  margin-left: 30px; }

.mleft40 {
  margin-left: 40px; }

.mleft50 {
  margin-left: 50px; }

.ptop0 {
  padding-top: 0; }

.ptop10 {
  padding-top: 10px; }

.ptop20 {
  padding-top: 20px; }

.ptop30 {
  padding-top: 30px; }

.ptop40 {
  padding-top: 40px; }

.ptop50 {
  padding-top: 50px; }

.ptop60 {
  padding-top: 60px; }

.ptop70 {
  padding-top: 70px; }

.ptop80 {
  padding-top: 80px; }

.ptop90 {
  padding-top: 90px; }

.ptop100 {
  padding-top: 100px; }

.pright0 {
  padding-right: 0; }

.pright10 {
  padding-right: 10px; }

.pright20 {
  padding-right: 20px; }

.pright30 {
  padding-right: 30px; }

.pright40 {
  padding-right: 40px; }

.pright50 {
  padding-right: 50px; }

.pbottom0 {
  padding-bottom: 0; }

.pbottom10 {
  padding-bottom: 10px; }

.pbottom20 {
  padding-bottom: 20px; }

.pbottom30 {
  padding-bottom: 30px; }

.pbottom40 {
  padding-bottom: 40px; }

.pbottom50 {
  padding-bottom: 50px; }

.pbottom60 {
  padding-bottom: 60px; }

.pbottom70 {
  padding-bottom: 70px; }

.pbottom80 {
  padding-bottom: 80px; }

.pbottom9 {
  padding-bottom: 90px; }

.pbottom100 {
  padding-bottom: 100px; }

.pleft0 {
  padding-left: 0; }

.pleft10 {
  padding-left: 10px; }

.pleft20 {
  padding-left: 20px; }

.pleft30 {
  padding-left: 30px; }

.pleft40 {
  padding-left: 40px; }

.pleft50 {
  padding-left: 50px; }

.orange {
  color: #FFA500; }

.orange2 {
  color: #F58456; }

.white {
  color: #fff; }

.yellowgreen {
  color: #dee21e; }

.green {
  color: #006f51; }

.melon {
  color: #e66567; }

.paleblue {
  color: #66cbe1; }

.bkggreen {
  background-color: #006f51; }

.bkgmelon {
  background-color: #e66567; }

body {
  font-size: 16px;
  font-weight: 300;
  color: #6B6B6B;
  line-height: 1.55; }

.body-large {
  font-size: 1.5em; }

.navbar-default {
  background-color: rgba(2, 2, 2, 0.7); }
  .navbar-default .navbar-nav > .open > a {
    background-color: transparent;
    color: #fff; }
    .navbar-default .navbar-nav > .open > a:hover {
      color: #fff;
      background-color: transparent; }
  .navbar-default .navbar-nav > li > a {
    color: #ebebeb; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #fff; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #ebebeb; }
  .navbar-default a.navbar-brand {
    padding-top: 10px; }
    .navbar-default a.navbar-brand img {
      opacity: 0.7;
      filter: alpha(opacity=50);
      width: 70px; }
      .navbar-default a.navbar-brand img:hover {
        opacity: 1;
        filter: alpha(opacity=100); }

.navbar-fixed-top {
  border: none; }

#return-to-top {
  background: url("../img/global/round-up.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

#connect {
  background: url("../img/spread/K&L-17-rev.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 800px; }

#connectCopy .subtitle {
  color: #e66567;
  line-height: 1.2em; }

#connectCopy h3.subtitle {
  text-decoration: underline; }

#connectCopy h2 {
  color: #e66567; }

#connectCopy .textcol {
  font-size: 20px;
  border-left: 2px solid #e66567;
  color: #e66567; }

#connectCopy img.border {
  border: 2px solid #e66567; }

#actualLetter .subtitle {
  color: #F58456; }

#actualLetter h2 {
  color: #F58456; }

#actualLetter .textcol {
  font-size: 20px;
  border-left: 2px solid #F58456;
  color: #F58456; }

figcaption {
  background: url("../img/global/trans-gray.png");
  color: white;
  max-width: 400px;
  font-size: .8em;
  display: block;
  position: absolute;
  bottom: 0;
  margin: 10px;
  padding: 10px; }

div.connect-title h1 {
  font-size: 3vw;
  color: #e66567;
  font-weight: 400; }

div.connect-title h3 {
  font-size: 2vw;
  color: #66cbe1;
  font-weight: 400; }

div.connect-title hr {
  opacity: .5; }

.connect-intro {
  color: #333;
  margin-top: 50px;
  padding: 20px 50px; }
  .connect-intro h3 {
    margin-top: 0; }

.watch-button {
  display: block;
  background: url("../img/global/trans-gray.png");
  margin: 110px auto 50px;
  background-repeat: repeat;
  color: #F58456; }
  .watch-button:hover {
    opacity: 1;
    color: #FFA500; }
  .watch-button:focus {
    color: #FFA500; }

.box-link {
  color: maroon;
  text-decoration: underline; }
  .box-link:hover {
    color: #4d0000; }

.letter p {
  font-size: 18px; }

.letter h2 {
  color: #F58456; }

.letter-box {
  background-color: #F58456;
  color: #000;
  margin-bottom: 50px;
  padding: 20px 50px; }

#canvas-container {
  position: relative;
  height: 400px; }

.introtext {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 12vw;
  opacity: 0; }
  .introtext hr {
    opacity: .5; }
  .introtext h1 {
    font-size: 5vw;
    color: #FFA500;
    line-height: .8; }
  .introtext h2 {
    font-size: 2.5vw;
    color: #fff;
    font-weight: 400;
    margin-top: 10px; }
  .introtext h3 {
    color: #fff;
    font-weight: 400; }

.presidentText {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 110px; }
  .presidentText hr {
    opacity: .5; }
  .presidentText h1 {
    font-size: 3vw;
    color: #F58456; }
  .presidentText h2 {
    font-size: 2vw;
    color: #54A8D8;
    font-weight: 400;
    margin-top: 10px; }
  .presidentText h3 {
    color: #fff;
    font-weight: 400; }

.presidentThumbs img {
  border: 2px solid #F58456;
  display: block;
  margin: 0 auto 30px; }

img.icon-hand-up {
  border: none;
  display: block;
  margin: -80px auto 0;
  max-width: 30px; }
  img.icon-hand-up:hover {
    -moz-animation: move .5s 1;
    -webkit-animation: move .5s 1;
    animation: move .5s 1; }

@keyframes move {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.fancybox-caption__body {
  max-width: 600px;
  margin: 0 auto; }

.introtwo {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 5vw;
  margin-bottom: 0;
  opacity: 0; }
  .introtwo hr {
    opacity: .5; }
  .introtwo h1 {
    font-size: 72px;
    color: #FFA500; }
  .introtwo h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 400; }
  .introtwo h3 {
    color: #dee21e;
    font-weight: 400; }

.cover {
  background: url("../img/cover/E-Washington-Night-2019-10-29-0025-pr115rev3.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; }

/* At-a-glance section 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// */
.panel-default {
  border: none; }
  .panel-default .panel-heading {
    border: none;
    background-color: #66cbe3;
    color: #fff; }
  .panel-default .panel-title > a:hover, .panel-default .panel-title > a:active, .panel-default .panel-title > a:focus {
    text-decoration: none; }

.glance-box {
  border: 10px solid #66cbe3; }

#glance h1 {
  font-size: 36px; }

#glance p {
  font-size: 20px; }

#glance .tables {
  padding-top: 50px; }

#glance .tables {
  padding-left: 40px;
  padding-right: 40px; }

#glance td.right {
  text-align: right; }

#glance td:nth-child(2) {
  color: #006f51;
  font-weight: 600;
  text-align: right; }

#glance td:nth-child(3) {
  text-align: right; }

#glance td:nth-child(4) {
  text-align: right; }

#glance td:nth-child(5) {
  text-align: center; }

tr.secborder {
  border-bottom: 2px solid #006f51; }

.table > tbody > tr.notopborder > td {
  border-top: none; }

/* Relaxing page load effects
-------------------------------------------------- */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

.m-scene {
  /** Basic styles for an animated element */
  /** An element that fades in */
  /** An element that fades in and slides up */ }
  .m-scene .scene_element {
    animation-duration: .5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both; }
  .m-scene .scene_element--fadein {
    animation-name: fadeIn; }
  .m-scene .scene_element--fadeinup {
    animation-name: fadeInUp;
    animation-duration: 1s; }

.president {
  background: url("../img/president/Keebler-2019-10-30-0016.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 660px; }

/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -360px; }

.page-wrap:after {
  content: "";
  display: block; }

.footer, .page-wrap:after {
  height: 360px; }

.footer {
  background-color: #006f51;
  font-size: 14px;
  color: #fff; }
  .footer a {
    color: #fff; }

.right-footer {
  float: right; }

ul.utility-menu {
  list-style-type: none; }
  ul.utility-menu a {
    color: #fff; }

/* ========================================= Large devices (large desktops, 1200px and up)  col-lg */
/* ========================================= Landscape tablets and medium desktops col-md */
@media (min-width: 992px) and (max-width: 1199px) {
  .spread-col-2 {
    margin-top: 30px;
    margin-left: -150px;
    font-size: 15px; } }

/* ========================================= Portrait tablets and small desktops col-sm */
/* ========================================= Landscape phones and portrait tablets col-xs */
/* =========================================  Portrait phones and smaller */
